*{
    margin:0;
    padding:0;
    text-align:center;
    font-family:Georgia, serif;
    }
    
    body{
    background:#f4f4f4;
    transition:0.3s;
    }
    
    .dark-mode{
    background:#121212;
    color:white;
    }
    
    h1{
    background:#081b31;
    color:white;
    height:4rem;
    line-height:4rem;
    }
    
    .top-controls{
    margin-top:1rem;
    display:flex;
    justify-content:center;
    gap:1rem;
    }
    
    select,button{
    padding:0.5rem 1rem;
    border:none;
    border-radius:0.5rem;
    background:#081b31;
    color:white;
    cursor:pointer;
    }
    
    button:hover,select:hover{
    background:#0d2d52;
    }
    
    .choices{
    display:flex;
    justify-content:center;
    gap:3rem;
    margin-top:3rem;
    }
    
    .choice{
    height:130px;
    width:130px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.3s;
    }
    
    .choice:hover{
    background:#081b31;
    transform:scale(1.1);
    }
    
    img{
    height:110px;
    width:110px;
    border-radius:50%;
    }
    
    .score-board{
    display:flex;
    justify-content:center;
    gap:5rem;
    margin-top:2rem;
    font-size:1.5rem;
    }
    
    #user-score,#comp-score{
    font-size:3rem;
    font-weight:bold;
    transition:0.3s;
    }
    
    .animate{
    transform:scale(1.3);
    color:gold;
    }
    
    #msg{
    margin-top:2rem;
    background:#081b31;
    color:white;
    padding:0.8rem 1.8rem;
    border-radius:0.7rem;
    display:inline-block;
    }
    
    #timer{
    margin-top:1rem;
    font-size:1.3rem;
    }